Add safe-encoding (better base32/base64/base85)

See https://github.com/kstenerud/safe-encoding for more info, and the standard is made to be more web-friendly than common versions of base32 (RFC 4648, Z-base, Crockford), base64 (RFC 4648, RFC 4648 §5 or URL, Uuencoding, BinHex) and base85 (Btoa, Z85, Adobe)

Referenced in https://github.com/multiformats/multibase/issues/51