Request for clarification about rsa-x509-pub

What is the expected payload for `rsa-x509-pub` "RSA public key (X.509 encoded)" (#226)?
Is it...
- DER-encoded  `RSAPublicKey` from [RFC 3447](https://datatracker.ietf.org/doc/html/rfc3447#appendix-A.1.1) (`PKCS #1`)
- DER-encoded `SubjectPublicKeyInfo` from [RFC 2459](https://datatracker.ietf.org/doc/html/rfc2459#section-7.3.1) / [RFC 5280](https://www.rfc-editor.org/rfc/rfc5280)
- DER-encoded `Certificate` (X.509 v3 certificate) from [RFC 2459](https://datatracker.ietf.org/doc/html/rfc2459#section-7.3.1) / [RFC 5280](https://www.rfc-editor.org/rfc/rfc5280)
- Hash of DER-encoded `Certificate`, like for the value of a `x5t` (X.509 Certificate SHA-1 Thumbprint)
 or `x5t#S256` (X.509 Certificate SHA-256 Thumbprint) JOSE Parameter ([RFC 7517](https://www.rfc-editor.org/rfc/rfc7517.html#section-4.9) / [RFC 7515](https://datatracker.ietf.org/doc/html/rfc7515#section-4.1.8)) - without the base64url encoding?
- Something else?

@rvagg @expede @b5

My expectation when filing for the codec was your second option: `x509 PKIX, ASN.1 DER` form.  The encoded public key is a SubjectPublicKeyInfo structure [RFC 5280, Section 4.1](https://www.rfc-editor.org/rfc/rfc5280.html#section-4.1). 

https://pkg.go.dev/crypto/x509#MarshalPKIXPublicKey

This is to match the "raw" output of the [`libp2p.crypto`](https://github.com/libp2p/go-libp2p-core/blob/7d7e514fe4c4b574c902020fb78795091cdec57c/crypto/rsa_go.go#L58-L60) library, which attempts to normalize asymmetric key handling.

here's a sample deserializing a `did:key` identifier encoded using this multicodec: https://github.com/qri-io/ucan/blob/a725af2c2ab328d4179f3ee763688939622a3d8d/didkey/key.go#L83-L97


It's a very good question @clehner. I'll file a PR clarifying in the codec table.

Thanks @b5. I would close this issue if such a PR were merged; and/or if @rvagg and/or @expede can confirm this usage.

Are we able to differentiate between all of these variants by inspecting the bytes and doing a set of try-parse operations on the data? Or do we need multicodec to do all of that differentiation work if we wanted to support other variants?

> and/or @expede can confirm this usage.

@clehner thanks for asking! Pretty much what @b5 said above. The previous PR came out of @b5's and my project trying to have interoperable DIDs. I don't care so much about _which_ format as that we're using the same one. Which is the long way of saying: confirmed, and we should have been more specific before!

>  differentiation work if we wanted to support other variants?

@b5 and I discussed this earlier in the process. There's even more ways than those listed above for representing RSA keys, these are just the X509 variants (and yes, we should be crystal clear on which one the multiformat refers to). There's quite a few libraries for converting between various formats.

We were mainly going for ease-of-use for our use case: DIDs (compact) and libp2p. It's true that this isn't necessarily what everyone else needs. There's an open question about how many variants we should have for RSA, because there's a _lot_ of permutations of encoding, certificates headers, key lengths, and so on. I'm certainly not against adding more, but from a practical standpoint it may make sense to add them on a by-need basis.

I fully agree with @clehner that we should be crystal clear on which one this multiformat refers to. @b5 or I will have a PR for that shortly.

As an aside: it would also be nice to have test fixtures to go along with the formats

Thanks @expede.

+1 for test vectors.

@rvagg these particular DER-encoded data structures can be distinguished by their structure.
e.g. (pseudo-code): `RSAPublicKey` is `sequence(integer, integer)`, while
`SubjectPublicKeyInfo` is `sequence(sequence(OID, something), bitstring)`.
So if the entry were changed from `SubjectPublicKeyInfo` to `RSAPublicKey`, backwards compatibility would be possible. I'm not sure about for the hash types - I think those are opaque except for the length.

A multicodec entry for an arbitrary DER value could be useful. But it is useful to associate DER data with a type, because while ASN.1/DER can represent arbitrary data structures, it has a limited set of types, and so relies on either external type definitions or using OIDs (object identifiers) within the data structure. ASN.1 in this way could perhaps be seen as somewhat analogous to JSON (and DER to [JCS](https://datatracker.ietf.org/doc/html/rfc8785)).

`rsa-x509-pub` as `SubjectPublicKeyInfo`, however, I think may be more complex than necessary. `SubjectPublicKeyInfo` is analogous to [JWK](https://datatracker.ietf.org/doc/html/rfc7517.html): it can represent multiple types of keys (algorithms). Indeed, in WebCrypto we can see `spki` (DER encoding of `SubjectPublicKeyInfo`) and JWK as alternative key formats:
https://w3c.github.io/webcrypto/#dom-keyformat-spki

A `spki` entry in `multicodec` might be useful, to encode arbitrary `SubjectPublicKeyInfo` values.
But for `did:key`, we already use `multicodec` to determine the type of the key, so `SubjectPublicKeyInfo` may be redundant. Therefore, I think an entry using `RSAPublicKey` (DER-encoded) might make more sense. This would improve the compactness of the key representation: With RSA public key in `SubjectPublicKeyInfo`, you have a `RSAPublicKey` value embedded in the `SubjectPublicKeyInfo` value. The `RSAPublicKey` could be used instead without the surrounding algorithm identifier and optional parameters of `SubjectPublicKeyInfo`. This would also simplify/clarify implementation, i.e. what to do when parsing an expected RSA `SubjectPublicKeyInfo` if the algorithm is not `rsaEncryption`, but is for example, `sha256WithRSAEncryption`. In WebCrypto, there is a table showing the different Algorithm OIDs that can be used with SubjectPublicKeyInfo embedding a RSAPublicKey:
https://w3c.github.io/webcrypto/#spki-mapping
We can see some more listed in RFC 3447 (`PKCS #1`):
https://datatracker.ietf.org/doc/html/rfc3447#page-57
For some of these algorithm types, it might be possible to construct a sensible DID document using corresponding JWK algorithms.
But if using [JsonWebSignature2020](https://w3c-ccg.github.io/lds-jws2020/), I think it is expected that the key does not include an algorithm parameter, but specific algorithms are allowed by the suite, e.g. `PS256` for signatures from an RSA key. As for the key length, `JsonWebSignature2020` says 2048 - the minimum length in JWK (e.g. https://datatracker.ietf.org/doc/html/rfc7518#section-3.3). I think it might be reasonable to change that allow larger lengths. But regardless, it doesn't affect the type of encoding: `RSAPublicKey` and analogous types are irrespective of the key length. I think `RSAPublicKey` (DER) can be parsed with  [MarshalPKCS1PublicKey](https://pkg.go.dev/crypto/x509#MarshalPKCS1PublicKey).
 `RSAPublicKey` contains two integer components: modulus (n) and publicExponent (e). These correspond to the "n" (Modulus) and "e" (Exponent) parameters of JWK public keys ([RFC 7518](https://datatracker.ietf.org/doc/html/rfc7518#section-6.3.1)).

Part of the simplicity and excellence of `did:key`, I think is that it encodes just a key of a type, without algorithm parameters or optional values. The only optionality I have seen in currently specified types is regarding whether to use elliptic curve compression - and it seems the answer is yes for that: https://github.com/w3c-ccg/did-method-key/pull/36, https://github.com/w3c-ccg/did-method-key/pull/38.

@b5 and @expede, for your use cases, do you need to encode the allowed algorithms or other parameters in the key representation (e.g. for `did:key`)? Or would just the public key material alone suffice (i.e. modulus and exponent)?

If the modulus and public exponent is enough, I think `RSAPublicKey` (DER) would be a reasonable choice, for its ubiquity. In the work-in-progress implementation at @spruceid (https://github.com/spruceid/ssi/pull/309) I count the representation as 270 bytes for a 2048-bit RSA key, not including the multicodec prefix or multibase encoding. The modulus is 256 bytes and the exponent is 3 bytes, so I think that means there is up to 11 bytes of overhead. It would be possible to reduce that by using a different encoding if we wanted to that. With the test vector in `ucan`, I count 294 bytes for the `SubjectPublicKeyInfo` representation; that is containing a 270-byte `RSAPublicKey` representation. 

I hope this is useful. I'm sorry I was not active in the discussion with the earlier registration.